
#ahorcado{
    

    width: 300px;
    height: 400px;
    float: left;

}

#dibujo{
   
    width: 700px;
    height: 700px;
    
}


#snake{
   
    width: 300px;
    height: 400px;
    
}

#tetris{
   
    width: 300px;
    height: 400px;
    
}

/*                                     */




/* Reset some default styles */
body, html {
    margin: 0;
    padding: 0;
}

/* Style for the header */
.header {
    background-color: #033474;
    color: white;
    display: flex;
    align-items: center;
    padding: 20px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

/* Style for the Facebook logo */
.logo {
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
}

/* Style for the search input */
.search input[type="text"] {
    padding: 5px;
    border: none;
    border-radius: 20px;
}

/* Style for the navigation menu */
.menu {
    margin-left: auto;
}

.menu a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
}




/*                */

/* Estilos generales de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
}

/* Estilos de los mosaicos de juegos */
.game-tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.game-tile {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: #333;
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.game-tile img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.game-tile:hover {
    transform: scale(1.05);
}
