
body {
  font-family: sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 24px;
  margin-top: 0;
}

p {
  margin-bottom: 10px;
}

ul {
  list-style-type: disc;
  margin-left: 15px;
}

pre {
  white-space: pre-wrap;
  font-size: 14px;
}

code {
  font-family: monospace;
  font-size: 14px;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.card {
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 15px;
}

.card-image {
  width: 100%;
  height: 200px;
  background-position: center center;
  background-size: cover;
}

.card-content {
  padding: 20px;
}

.card-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.card-action {
  text-align: right;
}

.button {
  background-color: #000;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #333;
}





#Imagen1{
  display: block;
  margin: 0 auto; /* Centra horizontalmente */
}









